<li>
  <span>
    <input name="recipe[cooking_steps_attributes][][name]" value="<%= cooking_step.name %>" placeholder="Step" />
  </span>
  <span>
    <input name="recipe[cooking_steps_attributes][][time]" value="<%= cooking_step.time %>" placeholder="Time"/>
  </span>

  <input type='checkbox' name='recipe[cooking_steps_attributes][][_destroy]' />

  <%= hidden_field_tag 'recipe[cooking_steps_attributes][][id]', cooking_step.id %>

</li>
