<li>
  <div class="col-md-8 nested_input_title">
    <input name="recipe[cooking_steps_attributes][][name]" value="<%= cooking_step.name %>" placeholder="Step" />
  </div>
  <div class="col-md-4 nested2_input_title">
    <input name="recipe[cooking_steps_attributes][][time]" value="<%= cooking_step.time %>" placeholder="Time" />

    <input class='hide' type='checkbox' name='recipe[cooking_steps_attributes][][_destroy]' />

    <i class="fa fa-trash-o delete"></i>

    <input type='hidden' name='recipe[cooking_steps_attributes][][id]' value='<%= cooking_step.id %>' />
</div>
</li>
