<li>
  <input name="recipe[cooking_steps_attributes][][name]" value="<%= cooking_step.name %>" placeholder="Step" />
  <input name="recipe[cooking_steps_attributes][][time]" value="<%= cooking_step.time %>" placeholder="Time" />

  <input class='hide' type='checkbox' name='recipe[cooking_steps_attributes][][_destroy]' />

  <i class="fa fa-trash-o delete"></i>

  <input type='hidden' name='recipe[cooking_steps_attributes][][id]' value='<%= cooking_step.id %>' />
</li>
