<div class="navigation">
   <p><strong>Our Foodies</strong></p>
   <ul>
     <% users.each do |user| %>
      <li>
        <%= link_to(user_path(user)) do %>
          <div style='float:left'>
            <%= image_tag(user.avatar.tiny) %> &nbsp;
          </div>
          <div style='float:left'>
            <%= user.name %><br/>
            <span>Recipes: </span>
            <%= user.recipes.count %>
          </div>
          <div style='clear:both'></div>
        <% end %>
      </li>
    <% end%>
   </ul>
 </div>
