<!-- <li>
  <p>
    <input name="recipe[ingredients_attributes][][name]" placeholder="Ingredient"/>
  </p>
  <p>
    <input name="recipe[ingredients_attributes][][quantity]" placeholder="Quantity"/>
  </p>
</li> -->
